<!DOCTYPE html>
<html lang="<%= lang || 'en' %>">
  <%- partial('head/head') %>
  <body data-controller="<%= data.controller || ''%>" data-action="<%= data.action || ''%>">
    <%- partial('header/header') %>
    <%- body -%>
    <%- partial('footer/footer') %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js<%= (locals.config.env == 'prod') ? '?'+locals.version : '' %>"></script>
    <%if(locals.config.env == 'dev'){%>
      <script src="http://localhost:35729/livereload.js"></script>
    <%}%>
  </body>
</html>
