<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genuine.js</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var config = <%- JSON.stringify(locals.config) %>;
    </script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body data-controller="<%= data.controller || ''%>" data-action="<%= data.action || ''%>">
    <%- partial('header/header') %>
    <%- body -%>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <%if(locals.config.env == 'dev'){%>
      <script src="http://localhost:35729/livereload.js"></script>
    <%}%>
  </body>
</html>
