<head>
  <meta charset="utf-8">
  <title>
    <%= data.title || locals.config.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    var config = <%- JSON.stringify(locals.config) %>;
  </script>
  <link rel="stylesheet" href="/css/style.css<%= (locals.config.env == 'prod') ? '?'+locals.version : '' %>">
  <link rel="stylesheet" href="/css/print.css" media="print">
  <%if(locals.config.env != 'prod'){%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,600italic,600'>
  <%}%>
  <%- partial('elements/hreflang') %>
  <%- partial('elements/socials-meta') %>
</head>
